---
---

<center><h1>üìç üìç Overview of Subsetting in Pandas üìç üìç</h1></center>



---

### `TABLE OF CONTENTS`

- What is an index?
- How to subset first N rows based on their position index?
- Can we change the index?
- Will the index be always numeric?
- How to subset the data based on a label of the index?
- Can we reset the index?
- How to subset the data based on a value of a column?

---


#### `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# read the big mart sales data
data = pd.read_csv('datasets/big_mart_sales.csv')

<div class="mark">

<h4>WHAT IS INDEX?</h4>

![](index.png)

-  You can see the index object by `DataFrame.index`.</div><i class="fa fa-lightbulb-o "></i>

<img src="img/1.png" alt="indexing" width=70%>

In [3]:
# index of the dataframe
data.index

RangeIndex(start=0, stop=8523, step=1)

***So, In this case, we have the numeric index value start from the 0 and ends at 8523.***

In [4]:
# no. of rows and columns in the data
data.shape

(8523, 12)

In [5]:
# column index
data.columns

Index(['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility',
       'Item_Type', 'Item_MRP', 'Outlet_Identifier',
       'Outlet_Establishment_Year', 'Outlet_Size', 'Outlet_Location_Type',
       'Outlet_Type', 'Item_Outlet_Sales'],
      dtype='object')

#### `HOW TO SUBSET FIRST 'N' ROWS BASED ON THEIR POSITION INDEX?`

In [6]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [7]:
data.head(2)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228

---

### `CAN WE CHANGE THE INDEX?`

---

***The answer is `Yes`. We can change the index. Let's see how?***

---

#### Create a random list of 8523 numbers and set it as the index
---

In [8]:
# create random list
import random
random_list = [random.randint(1, 8523) for i in range(8523)]

In [9]:
random_list

[8079,
 6593,
 7266,
 8164,
 5999,
 1841,
 1485,
 3599,
 1548,
 1628,
 6335,
 3143,
 3883,
 2795,
 5794,
 6444,
 719,
 5378,
 5480,
 4318,
 5899,
 4282,
 2332,
 6147,
 7952,
 7370,
 3024,
 6557,
 8453,
 1608,
 2868,
 501,
 7287,
 8481,
 972,
 2040,
 4863,
 1800,
 1704,
 4142,
 5095,
 1700,
 2918,
 7113,
 3440,
 4042,
 4617,
 3128,
 2714,
 2154,
 5232,
 4039,
 6871,
 613,
 6292,
 8222,
 1884,
 229,
 7557,
 8073,
 4162,
 262,
 3375,
 3807,
 6776,
 7842,
 6282,
 4887,
 7281,
 1367,
 4394,
 3536,
 5894,
 5330,
 3062,
 6813,
 5927,
 2159,
 6497,
 1559,
 3186,
 124,
 6427,
 4233,
 4264,
 7795,
 5465,
 4504,
 2276,
 1674,
 1024,
 987,
 7450,
 3129,
 5061,
 7022,
 291,
 483,
 4722,
 2088,
 2148,
 5159,
 2475,
 5466,
 6417,
 3145,
 2137,
 4583,
 3418,
 4488,
 4743,
 2677,
 4564,
 2546,
 4086,
 3286,
 3091,
 2210,
 5105,
 5729,
 6641,
 1481,
 7817,
 2074,
 6592,
 2440,
 181,
 478,
 6092,
 8113,
 3366,
 887,
 29,
 7822,
 1643,
 294,
 4164,
 824,
 1491,
 7326,
 2995,
 4221,
 5110,
 7193,
 4895,
 3518,
 7366,
 169,
 8378,
 7371,
 1018,
 3871,
 5839,
 5780,
 5876,
 1424,
 4034,
 6551,
 7875,
 7171,
 240,
 8241,
 6047,
 6223,
 2573,
 1899,
 1509,
 788,
 5331,
 127,
 4767,
 5631,
 4621,
 7651,
 109,
 6017,
 3352,
 5517,
 1296,
 1793,
 6871,
 1535,
 6911,
 6963,
 2370,
 601,
 6477,
 1432,
 7133,
 6590,
 8450,
 1707,
 6027,
 8362,
 3635,
 2007,
 2337,
 8164,
 6861,
 7645,
 6979,
 2678,
 2618,
 1522,
 5584,
 2877,
 2527,
 2073,
 2311,
 3063,
 3451,
 7666,
 2852,
 1593,
 818,
 999,
 2641,
 1646,
 5095,
 2839,
 3088,
 3252,
 4694,
 2603,
 1594,
 4547,
 6231,
 7959,
 6685,
 5207,
 2340,
 3227,
 5227,
 6405,
 3781,
 4136,
 3298,
 5626,
 448,
 6110,
 5692,
 5394,
 7063,
 6373,
 1851,
 7597,
 4353,
 627,
 2635,
 839,
 6848,
 277,
 1077,
 3179,
 2234,
 4927,
 811,
 826,
 1444,
 7357,
 1926,
 5641,
 2872,
 6925,
 5648,
 340,
 2288,
 7290,
 2482,
 2734,
 4130,
 8383,
 5962,
 190,
 2601,
 5388,
 6521,
 2118,
 6046,
 4047,
 6939,
 7819,
 1235,
 4271,
 6213,
 4877,
 7356,
 1529,
 1204,
 6513,
 5665,
 214,
 2763,
 4913,
 4139,
 245,
 4828,
 2850,
 7618,
 174,
 1170,
 3614,
 873,
 666,
 1564,
 486,
 3065,
 7487,
 3830,
 6475,
 6963,
 2090,
 1989,
 7837,
 4473,
 4432,
 8497,
 5767,
 7795,
 179,
 8083,
 5674,
 586,
 7035,
 5015,
 5645,
 4387,
 2023,
 6678,
 6732,
 2018,
 6113,
 1906,
 8488,
 3540,
 2618,
 6864,
 1170,
 319,
 3805,
 7560,
 3586,
 5230,
 8259,
 6786,
 5548,
 559,
 6152,
 1987,
 1431,
 4124,
 8142,
 6893,
 6916,
 5573,
 2963,
 5504,
 4392,
 3017,
 871,
 1064,
 6798,
 3508,
 1782,
 395,
 5802,
 4425,
 865,
 5315,
 7347,
 2259,
 1673,
 2417,
 4274,
 4281,
 1848,
 4339,
 5019,
 2455,
 1320,
 5213,
 792,
 4173,
 5553,
 5413,
 8093,
 6774,
 1093,
 769,
 2281,
 961,
 7667,
 2838,
 3386,
 1047,
 7407,
 5771,
 2983,
 174,
 6872,
 2819,
 8132,
 7071,
 728,
 1601,
 6140,
 4739,
 2134,
 8074,
 3595,
 5223,
 7251,
 7378,
 7844,
 5819,
 3231,
 4909,
 6064,
 7861,
 7676,
 5893,
 452,
 3770,
 7857,
 4219,
 7598,
 3126,
 5233,
 571,
 3875,
 586,
 4366,
 3451,
 1058,
 2382,
 6750,
 446,
 1137,
 295,
 7394,
 770,
 1894,
 3303,
 4746,
 5399,
 2579,
 7791,
 3426,
 7081,
 1197,
 1028,
 4467,
 7033,
 181,
 557,
 1204,
 5699,
 588,
 1561,
 87,
 3301,
 6915,
 3889,
 2271,
 3801,
 7521,
 7120,
 3660,
 379,
 603,
 3247,
 1293,
 4960,
 4774,
 5138,
 4291,
 7941,
 128,
 6271,
 2398,
 6606,
 4102,
 1649,
 2535,
 8331,
 3073,
 7275,
 2299,
 4845,
 6278,
 3615,
 7427,
 3277,
 7717,
 3118,
 7572,
 3,
 1645,
 8305,
 412,
 6108,
 6897,
 7182,
 8450,
 2723,
 897,
 2159,
 648,
 2969,
 6769,
 1979,
 3745,
 2013,
 5407,
 7424,
 6444,
 7994,
 1277,
 6673,
 2139,
 5086,
 7886,
 961,
 3988,
 5305,
 729,
 4737,
 5178,
 358,
 2488,
 7422,
 3946,
 6454,
 6626,
 1732,
 1690,
 4132,
 7485,
 6918,
 3331,
 4956,
 8028,
 3800,
 4884,
 2441,
 2443,
 155,
 2030,
 3341,
 7972,
 423,
 1671,
 4833,
 5408,
 3469,
 7811,
 3752,
 5516,
 3850,
 5456,
 2322,
 4236,
 4069,
 1040,
 1985,
 6206,
 7150,
 7692,
 7648,
 7890,
 6333,
 2785,
 7790,
 5970,
 2126,
 7259,
 609,
 1783,
 3389,
 8065,
 6915,
 7886,
 6357,
 3767,
 5396,
 2805,
 4222,
 2554,
 7385,
 2404,
 5647,
 8191,
 6588,
 1698,
 7253,
 1613,
 3437,
 4870,
 4058,
 362,
 4797,
 2409,
 5729,
 896,
 3520,
 7694,
 8221,
 7865,
 6199,
 914,
 2000,
 7750,
 1355,
 1155,
 537,
 857,
 7210,
 7887,
 4567,
 5936,
 5471,
 5071,
 6674,
 2022,
 1150,
 7735,
 7259,
 4871,
 2110,
 5387,
 3565,
 5114,
 8240,
 5006,
 6917,
 6660,
 2988,
 4031,
 4823,
 2872,
 5246,
 2254,
 6943,
 1586,
 4566,
 7786,
 6836,
 7215,
 6620,
 2997,
 5345,
 1311,
 8367,
 378,
 5495,
 3580,
 8255,
 4499,
 50,
 5650,
 102,
 7252,
 6013,
 1858,
 6684,
 4485,
 4111,
 284,
 1463,
 3790,
 2018,
 6300,
 1436,
 5200,
 4303,
 350,
 7283,
 4373,
 46,
 6531,
 7656,
 6191,
 4649,
 3926,
 7573,
 7929,
 8464,
 4523,
 6336,
 2721,
 7069,
 5041,
 5545,
 3055,
 8291,
 7687,
 1845,
 8436,
 591,
 2905,
 497,
 7892,
 964,
 3112,
 7419,
 6136,
 1896,
 1847,
 2899,
 962,
 4436,
 5038,
 7000,
 1214,
 1383,
 1832,
 2340,
 5812,
 2271,
 4655,
 4327,
 8000,
 7324,
 8281,
 7398,
 625,
 4269,
 1140,
 3791,
 2492,
 574,
 4324,
 3610,
 1072,
 3022,
 824,
 5064,
 5511,
 3678,
 7551,
 5062,
 7162,
 2157,
 3479,
 6335,
 3597,
 2510,
 5643,
 741,
 5044,
 8164,
 450,
 6379,
 4911,
 618,
 3999,
 7620,
 6086,
 6449,
 2564,
 8224,
 6838,
 4795,
 5218,
 6566,
 5524,
 4255,
 11,
 7322,
 2186,
 543,
 1919,
 2960,
 2646,
 2447,
 7329,
 8321,
 6523,
 3762,
 5242,
 5405,
 3496,
 5471,
 6481,
 2931,
 2739,
 5443,
 1651,
 4059,
 3692,
 1462,
 4666,
 7871,
 7125,
 5782,
 8251,
 2311,
 4914,
 5996,
 5389,
 4738,
 7868,
 7379,
 677,
 4067,
 2544,
 6649,
 5713,
 4355,
 752,
 2683,
 5615,
 6451,
 4140,
 3680,
 7108,
 670,
 4242,
 2722,
 1324,
 1818,
 3654,
 4891,
 3175,
 4631,
 5817,
 661,
 7088,
 8032,
 1698,
 3745,
 1958,
 2702,
 679,
 7455,
 108,
 6408,
 945,
 5517,
 5489,
 7769,
 3050,
 6965,
 1507,
 4422,
 7068,
 8294,
 1645,
 6001,
 7251,
 2588,
 6254,
 1146,
 6691,
 3927,
 4375,
 7578,
 3144,
 2679,
 8273,
 1519,
 8358,
 5580,
 2847,
 4920,
 6556,
 159,
 3810,
 4523,
 5495,
 8150,
 193,
 4503,
 6968,
 1135,
 1409,
 7213,
 1093,
 2066,
 5316,
 5091,
 3586,
 525,
 5841,
 384,
 5067,
 2677,
 2486,
 5648,
 3127,
 6826,
 1194,
 6825,
 1622,
 1695,
 454,
 7541,
 1313,
 422,
 8174,
 4277,
 7876,
 6638,
 802,
 6731,
 5156,
 946,
 3253,
 4297,
 1215,
 3661,
 923,
 5118,
 4170,
 5943,
 2529,
 4736,
 5606,
 7298,
 4381,
 708,
 4665,
 3732,
 255,
 8226,
 3298,
 7554,
 120,
 93,
 1432,
 31,
 5005,
 1536,
 1594,
 7546,
 7387,
 4704,
 3690,
 3784,
 2152,
 4030,
 1860,
 7605,
 194,
 2903,
 5313,
 6954,
 5551,
 2226,
 4623,
 6013,
 7664,
 2563,
 5802,
 8426,
 2470,
 8388,
 912,
 5,
 2660,
 5067,
 2904,
 3190,
 3704,
 1401,
 383,
 442,
 4872,
 5762,
 7076,
 5698,
 4340,
 5290,
 5096,
 6291,
 4370,
 2763,
 559,
 6424,
 7677,
 916,
 2560,
 3565,
 3498,
 1550,
 2479,
 6581,
 3400,
 2386,
 4996,
 5599,
 7048,
 7721,
 7826,
 7861,
 8195,
 5930,
 7359,
 6036,
 1258,
 ...]

In [10]:
len(random_list)

8523

#### set the index of rows

In [11]:
# set the index
data.index = random_list

In [12]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8079,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
6593,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
7266,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
8164,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
5999,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [13]:
data

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8079,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
6593,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
7266,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
8164,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
5999,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...,...
2783,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
4274,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
3365,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
4263,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
7409,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

## Set another column of the dataframe as the index. We will use the set_index function.

You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.set_index.html'***

---

In [22]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

 ##### <span class="mark">change the index of the dataframe</span>
 
***drop=True is used to drop the column that's set as index.It is very helpful in the case of duplicate columns.***

***inplace=True is used to make changes in the original dataframe.***

#### What if drop = False

In [23]:
data = pd.read_csv("datasets/big_mart_sales.csv")

In [24]:
data.set_index('Outlet_Establishment_Year', drop=False, inplace=True)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

###### <span class="mark">As we see above establishment year is not drop from columns , so there area two same columns. In this case, drop=True comes to help.</span>

In [25]:
data.set_index('Outlet_Establishment_Year', drop=True,inplace = True)
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

###### <span class="burk">If inplace = False then index is not updated to dataframe. if you want to change dataframe inplace = True is must. If inplace= False then dataframe index are again default to 0,1,2,3,..</span>

In [26]:
data = pd.read_csv("datasets/big_mart_sales.csv")

In [27]:
data.set_index('Outlet_Establishment_Year', drop=True, inplace=False)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052
...,...,...,...,...,...,...,...,...,...,...,...
1987,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,High,Tier 3,Supermarket Type1,2778.3834
2002,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,NaN,Tier 2,Supermarket Type1,549.2850
2004,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,Small,Tier 2,Supermarket Type1,1193.1136
2009,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,Medium,Tier 3,Supermarket Type2,1845.5976
1997,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,Small,Tier 1,Supermarket Type1,765.6700

###### Since ```inplace = False``` after some time changes are gone and dataframe is  not updated and index are set to default.

In [29]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [30]:
data.index

RangeIndex(start=0, stop=8523, step=1)

#### Use of inplace parameter.

In [31]:
data = pd.read_csv("datasets/big_mart_sales.csv")

data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

<span class="mark">Now, establishment year column dropped and index also updated.</span>

In [33]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

##### So drop and inplace parameters are very helpful.

<span class="mark">

<b>When you use ```inplace = True``` parameter, then pandas create a new datafrane with changes you made and  returns a new Dataframe to you.</b>

<b>Therefore, It is advised, that when you use ```inplace = True```, Save a changed dataframe to a new variable. So, original data are not changed and remain safe.</b>
    

</span>

In [37]:
data = pd.read_csv("datasets/big_mart_sales.csv")

In [38]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

new_data = data.set_index('Outlet_Establishment_Year', drop=True, inplace=True)

In [39]:
new_data.head()

AttributeError: 'NoneType' object has no attribute 'head'

<b>If we store it in  a new variable then set the ```inplace = False```. </b>

In [42]:
data = pd.read_csv("datasets/big_mart_sales.csv")

In [43]:
# 1. change the index of the dataframe
# 2. drop=True is used to drop the column that's set as index
# 3. inplace=True is used to make changes in the original dataframe
# data = pd.read_csv('datasets/big_mart_sales.csv')

new_data = data.set_index('Outlet_Establishment_Year', drop=True, inplace=False)

In [44]:
new_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Outlet_Establishment_Year,,,,,,,,,,,
1999,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380
2009,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228
1999,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700
1998,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,NaN,Tier 3,Grocery Store,732.3800
1987,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052

In [45]:
# example of a label based index
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [46]:
new_data.index

Int64Index([1999, 2009, 1999, 1998, 1987, 2009, 1987, 1985, 2002, 2007,
            ...
            2004, 2002, 2009, 2009, 1997, 1987, 2002, 2004, 2009, 1997],
           dtype='int64', name='Outlet_Establishment_Year', length=8523)

In [47]:
# original data

data.index

RangeIndex(start=0, stop=8523, step=1)

---

## `WILL THE INDEX BE ALWAYS NUMERIC?`

---


***No, We can also have categorical variables as the index of a dataframe.*** 

---

In [48]:
data.index

RangeIndex(start=0, stop=8523, step=1)

In [49]:
# reset the index
data.set_index('Item_Identifier', drop= True, inplace=True)

In [50]:
# view the top rows of the data
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [51]:
# index of the data
data.index

Index(['FDA15', 'DRC01', 'FDN15', 'FDX07', 'NCD19', 'FDP36', 'FDO10', 'FDP10',
       'FDH17', 'FDU28',
       ...
       'FDH31', 'FDA01', 'FDH24', 'NCJ19', 'FDF53', 'FDF22', 'FDS36', 'NCJ29',
       'FDN46', 'DRG01'],
      dtype='object', name='Item_Identifier', length=8523)

---

## `HOW TO SUBSET THE DATA BASED ON THE LABEL OF THE INDEX?`

<b><span class="mark">We can subset the data based on the label of the index using the loc function.</span></b>


---

Only get the results of all rows with FDA15 label.

In [53]:
data.loc['FDA15']

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208

***What if we want to change the index back to positional?***

---


## `CAN WE RESET THE INDEX?`

<b>Yes, we can reset the index. Let's see how? 
We will use the ```reset_index function```.

You can read more about here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.reset_index.html</b>

---

In [54]:
# reset the index
data.reset_index(inplace=True)

###### Data are reverse back to it's original form.

In [59]:
# view the top rows of the data
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

## `HOW TO SUBSET THE DATA BASED ON A VALUE OF A COLUMN?`

---

Get only data which item_type is Dairy, Looks similar to the exce's filter feature.

In [60]:
data[data['Item_Type'] == 'Dairy']

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
11,FDA03,18.500,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
19,FDU02,13.350,Low Fat,0.102492,Dairy,230.5352,OUT035,2004,Small,Tier 2,Supermarket Type1,2748.4224
28,FDE51,5.925,Regular,0.161467,Dairy,45.5086,OUT010,1998,NaN,Tier 3,Grocery Store,178.4344
30,FDV38,19.250,Low Fat,0.170349,Dairy,55.7956,OUT010,1998,NaN,Tier 3,Grocery Store,163.7868
...,...,...,...,...,...,...,...,...,...,...,...,...
8424,FDC39,7.405,Low Fat,0.159165,Dairy,207.1296,OUT035,2004,Small,Tier 2,Supermarket Type1,3739.1328
8447,FDS26,20.350,Low Fat,0.089975,Dairy,261.6594,OUT017,2007,NaN,Tier 2,Supermarket Type1,7588.1226
8448,FDV50,14.300,Low Fat,0.123071,Dairy,121.1730,OUT018,2009,Medium,Tier 3,Supermarket Type2,2093.9410
8457,FDY50,5.800,Low Fat,0.130931,Dairy,89.9172,OUT035,2004,Small,Tier 2,Supermarket Type1,1516.6924
8512,FDR26,20.700,Low Fat,0.042801,Dairy,178.3028,OUT013,1987,High,Tier 3,Supermarket Type1,2479.4392

Only data whose Outlet_Location_Type == "Tier 1".

In [61]:
data[data['Outlet_Location_Type'] == "Tier 1"]

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
10,FDY07,11.80,Low Fat,0.000000,Fruits and Vegetables,45.5402,OUT049,1999,Medium,Tier 1,Supermarket Type1,1516.0266
11,FDA03,18.50,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
12,FDX32,15.10,Regular,0.100014,Fruits and Vegetables,145.4786,OUT049,1999,Medium,Tier 1,Supermarket Type1,1589.2646
...,...,...,...,...,...,...,...,...,...,...,...,...
8480,FDQ58,NaN,Low Fat,0.000000,Snack Foods,154.5340,OUT019,1985,Small,Tier 1,Grocery Store,459.4020
8490,FDU44,NaN,Regular,0.102296,Fruits and Vegetables,162.3552,OUT019,1985,Small,Tier 1,Grocery Store,487.3656
8492,FDT34,9.30,Low Fat,0.174350,Snack Foods,104.4964,OUT046,1997,Small,Tier 1,Supermarket Type1,2419.5172
8517,FDF53,20.75,reg,0.083607,Frozen Foods,178.8318,OUT046,1997,Small,Tier 1,Supermarket Type1,3608.6360
8522,DRG01,14.80,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

----

###### `WE WILL SEE HOW TO SUBSET THE DATA BASED ON POSITION, LABEL AND VALUES IN DETAIL`

---